@page "/crud/batiments"
@inject Client_SAE_5.ViewModel.BatimentViewModel BatimentViewModel
@inject NavigationManager NavigationManager

<link rel="stylesheet" href="/css/DetailPages.css" />
<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="5000" Placement="ToastsPlacement.TopRight" />

<PageTitle>Gestion des bâtiments</PageTitle>

<h1>Gestion des bâtiments</h1>
<button id="btnAddBatimentPage" class="btn btn-success" @onclick="() => AddNewBatiment()">Ajouter un bâtiment</button>
<br />
<br />

@if (BatimentViewModel.DBData.Batiments == null || BatimentViewModel.DBData.Batiments.Count == 0)
{
    <div class="d-flex justify-content-center">
        <Spinner Type="SpinnerType.Border" Size="SpinnerSize.ExtraLarge" />
    </div>
}
else
{
    <Grid @ref="batimentGrid"
    TItem="BatimentDTO"
    DataProvider="BatimentsDataProvider"
    AllowFiltering="true"
    AllowPaging="true"
    PageSize="10"
    AllowSorting="true"
    FiltersTranslationProvider="Utils.BlazorBootstrapUtils.Instance.GridFiltersTranslationProvider"
    Class="table table-hover table-bordered"
    Responsive="true"
    AllowSelection="false"
    OnRowClick="ViewDetails"
    AllowRowClick="true"
    PaginationItemsTextFormat="{0} - {1} sur {2} bâtiments"
    ItemsPerPageText="Bâtiments par page"
    EmptyText="Aucun bâtiment trouvé"
    EnumFilterSelectText="Selection">
        <GridColumns>
            <GridColumn TItem="BatimentDTO" HeaderText="Nom" PropertyName="NomBatiment" SortKeySelector="item => item.NomBatiment">
                @context.NomBatiment
            </GridColumn>
            <GridColumn TItem="BatimentDTO" HeaderText="Nombre de salles" PropertyName="NbSalle" SortKeySelector="item => item.NbSalle">
                @context.NbSalle
            </GridColumn>
            <GridColumn TItem="BatimentDTO" HeaderText="Actions" Filterable="false">
                <button class="btn btn-primary" title="Modifier @context.NomBatiment" @onclick="() => EditBatiment(context)" @onclick:stopPropagation>
                    <Icon Name="IconName.PencilFill" />
                </button>
                <button class="btn btn-danger" title="Supprimer @context.NomBatiment" @onclick="() => BeginDeleteConfirmation(context)" @onclick:stopPropagation>
                    <Icon Name="IconName.Trash3Fill" />
                </button>
            </GridColumn>
        </GridColumns>
    </Grid>
}

<!-- Modale pour l'édition -->
<Modal @ref="formModal" class="editModal notshown" Size="ModalSize.Large" Title="Renseignement des informations du bâtiment">
    <BodyTemplate>
        @if (!string.IsNullOrEmpty(BatimentViewModel.ErrorMessage))
        {
            <div class="alert alert-danger">
                @BatimentViewModel.ErrorMessage
            </div>
        }
        <div>
            <label>Nom :</label>
            <input type="text" @bind="BatimentViewModel.BatimentInEdition.NomBatiment" class="form-control" />
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" id="annulerEditBatimentBtnDialog" @onclick="ClosePopup">Annuler</button>
        @if (BatimentViewModel.BatimentInEdition.IdBatiment == 0)
        {
            <button class="btn btn-success" id="ajouterBatimentBtnDialog"  @onclick="SaveBatiment">Ajouter</button>
        }
        else
        {
            <button class="btn btn-primary" id="modifierBatimentBtnDialog" @onclick="SaveBatiment">Modifier</button>
        }
    </FooterTemplate>
</Modal>

<ConfirmDialog @ref="confirmSupprDialog" id="confirmDialog" />

@code {
    private Modal formModal;
    private Grid<BatimentDTO> batimentGrid;

    private ConfirmDialog confirmSupprDialog = default!;
    private BatimentDTO? batimentDeleteInConfirmation;
    List<ToastMessage> messages = new List<ToastMessage>();
    [Inject] ToastService ToastService { get; set; } = default!;

    /// <summary>
    /// Méthode exécutée lors de l'initialisation de la page
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        if (BatimentViewModel.DBData.Batiments == null || BatimentViewModel.DBData.Batiments.Count == 0)
        {
            await BatimentViewModel.LoadBatimentsAsync();
        }
    }

    /// <summary>
    /// Permet de rediriger vers la page de détails
    /// </summary>
    /// <param name="args"></param>
    private void ViewDetails(GridRowEventArgs<BatimentDTO> args)
    {
        Utils.Utils.GoDetail(NavigationManager, "batiments", args.Item.IdBatiment);
        StateHasChanged();
    }

    /// <summary>
    /// Permet d'éditer un bâtiment
    /// </summary>
    /// <param name="batiment">Bâtiment DTO à modifier</param>
    /// <returns></returns>
    private async Task EditBatiment(BatimentDTO batiment)
    {
        await BatimentViewModel.SetupBatimentEdition(batiment.IdBatiment);
        await OpenPopup();
    }

    /// <summary>
    /// Permet d'ajouter un nouveau bâtiment
    /// </summary>
    /// <returns></returns>
    private async Task AddNewBatiment()
    {
        await BatimentViewModel.SetupNewBatiment();
        await OpenPopup();
    }

    /// <summary>
    /// Permet de sauvegarder un bâtiment. Cette opération peut être réaliser si un bâtiment est à rajouter ou à modifier. Un toast est ensuite affiché
    /// </summary>
    /// <see cref="BatimentViewModel"></see>
    /// <see cref="ToastService"></see>
    /// <returns></returns>
    private async Task SaveBatiment()
    {
        string confirmMessage = "";

        if (BatimentViewModel.BatimentInEdition.IdBatiment == 0)
        {
            await BatimentViewModel.AddBatimentAsync();
            confirmMessage = "Ajout du bâtiment avec succès !";
        }
        else
        {
            await BatimentViewModel.UpdatebatimentAsync();
            confirmMessage = "Modification du bâtiment avec succès !";
        }

        if (string.IsNullOrEmpty(BatimentViewModel.ErrorMessage))
        {
            await ClosePopup();
            ToastService.Notify(new ToastMessage(ToastType.Success, confirmMessage));
            await RefreshGridAsync();
        }
    }

    /// <summary>
    /// Commence la procédure de suppression d'un bâtiment
    /// </summary>
    /// <param name="batiment">Bâtiment que l'utilisateur voudrait supprimer</param>
    /// <returns></returns>
    private async Task BeginDeleteConfirmation(BatimentDTO batiment)
    {
        batimentDeleteInConfirmation = batiment;
        await OpenDeleteConfirmation();
    }

    /// <summary>
    /// Permet de supprimer un bâtiment et de rafraîchir la grille par la suite
    /// </summary>
    /// <param name="idBatiment">ID du bâtiment à supprimer</param>
    /// <returns></returns>
    private async Task DeleteBatiment(int idBatiment)
    {
        await BatimentViewModel.DeletebatimentAsync(idBatiment);
        await RefreshGridAsync();
    }

    /// <summary>
    /// Permet d'ouvrir la pop up de confirmation de suppression d'un bâtiment'
    /// </summary>
    /// <returns></returns>
    /// <exception cref="ArgumentNullException"/>
    private async Task OpenDeleteConfirmation()
    {
        var options = new ConfirmDialogOptions
            {
                YesButtonText = "Supprimer",
                YesButtonColor = ButtonColor.Danger,
                NoButtonText = "Annuler",
                NoButtonColor = ButtonColor.Primary
            };

        if (batimentDeleteInConfirmation == null)
        {
            throw new ArgumentNullException("Le bâtiment dont on veut récupérer la confirmation de suppression est NULL.");
        }

        var confirmation = await confirmSupprDialog.ShowAsync(
            title: "Confirmer la suppression du bâtiment",
            message1: "Êtes vous sûr de vouloir supprimer le bâtiment \"" + batimentDeleteInConfirmation.NomBatiment + "\" ?",
            confirmDialogOptions: options);

        if (confirmation)
        {
            await DeleteBatiment(batimentDeleteInConfirmation.IdBatiment);
            ToastService.Notify(new ToastMessage(ToastType.Success, $"Le bâtiment a été supprimé avec succès"));
        }
    }

    /// <summary>
    /// Permet de rafraîchir la grille contenant tous les bâtiments
    /// </summary>
    /// <exception cref="NullReferenceException"/>
    /// <returns></returns>
    private async Task RefreshGridAsync()
    {
        if (batimentGrid != null)
        {
            await batimentGrid.RefreshDataAsync();
        } else {
            throw new NullReferenceException("La grille des bâtiment n'a pas été trouvé");
        }
    }

    /// <summary>
    /// Récupère les données nécéssaire à l'élément GRID de la page Bâtiment
    /// </summary>
    /// <param name="request">Requête</param>
    /// <returns>Résultat de l'opération</returns>
    private async Task<GridDataProviderResult<BatimentDTO>> BatimentsDataProvider(GridDataProviderRequest<BatimentDTO> request)
    {
        // Application des filtres, tri et pagination
        var data = request.ApplyTo(BatimentViewModel.DBData.Batiments);
        return await Task.FromResult(data);
    }

    /// <summary>
    /// Permet de fermer une pop up
    /// <see cref="formModal"/>
    /// </summary>
    private async Task ClosePopup()
    {
        BatimentViewModel.ResetError();
        await formModal.HideAsync();
    }

    /// <summary>
    /// Permet d'ouvrir une pop up
    /// <see cref="formModal"/>
    /// </summary>
    private async Task OpenPopup()
    {
        await formModal.ShowAsync();
    }
}