@page "/crud/capteurs"
@inject Client_SAE_5.ViewModel.CapteurViewModel CapteurViewModel


<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="5000" Placement="ToastsPlacement.TopRight" />

<PageTitle>Gestion des Capteurs</PageTitle>

<h1>Gestion des Capteurs</h1>

<button class="btn btn-success" @onclick="() => AddNewCapteur()">Ajouter un capteur</button>
<br />
<br />
@if (CapteurViewModel.Capteurs == null || CapteurViewModel.Capteurs.Count == 0)
{
    <Spinner></Spinner>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Salle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var capteur in CapteurViewModel.Capteurs)
            {
                <tr class="selection" @onclick="() => ViewDetails(capteur.IdCapteur)">
                    <td>@capteur.NomCapteur</td>
                    <td>@capteur.NomSalle</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditCapteur(capteur)">Modifier</button>
                        <button class="btn btn-danger" @onclick="() => BeginDeleteConfirmation(capteur)">Supprimer</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<!-- Modale pour l'édition -->
<Modal @ref="formModal" Size="ModalSize.Large" Title="Renseignement des informations du capteur">
    <BodyTemplate>
        <div>
            <label>Nom :</label>
            <input type="text" @bind="CapteurViewModel.EditableCapteur.NomCapteur" class="form-control" />

            <label>Est actif ? :</label>
            <div>
                <label>OUI</label>
                <input type="radio" checked="@(CapteurViewModel.EditableCapteur.EstActif == "OUI")" 
                       @onchange="@(() => CapteurViewModel.EditableCapteur.EstActif = "OUI")" />
                <label>NON</label>
                <input type="radio" checked="@(CapteurViewModel.EditableCapteur.EstActif == "NON")" 
                       @onchange="@(() => CapteurViewModel.EditableCapteur.EstActif = "NON")" />
                <label>NSP</label>
                <input type="radio" checked="@(CapteurViewModel.EditableCapteur.EstActif == "NSP")" 
                       @onchange="@(() => CapteurViewModel.EditableCapteur.EstActif = "NSP")" />
            </div>

            <label>X :</label>
            <input type="number" @bind="CapteurViewModel.EditableCapteur.XCapteur" class="form-control" />

            <label>Y :</label>
            <input type="number" @bind="CapteurViewModel.EditableCapteur.YCapteur" class="form-control" />

            <label>Z :</label>
            <input type="number" @bind="CapteurViewModel.EditableCapteur.ZCapteur" class="form-control" />

            <label>Mur :</label>
            <select @bind="CapteurViewModel.EditableCapteur.IdMur" class="form-control">
                <option value="">-- Sélectionnez un mur --</option>
                @foreach (var mur in CapteurViewModel.Murs)
                {
                    <option value="@mur.IdMur">@mur.Direction @mur.Orientation @mur.NomSalle</option>
                }
            </select>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="CancelEdit">Annuler</button>
        @if (CapteurViewModel.EditableCapteur.IdCapteur == 0)
        {
            <button class="btn btn-success" @onclick="SaveCapteur">Ajouter</button>
        }
        else
        {
            <button class="btn btn-primary" @onclick="SaveCapteur">Modifier</button>
        }
    </FooterTemplate>
</Modal>

<ConfirmDialog @ref="confirmSupprDialog" />

@if (CapteurViewModel.SelectedCatpeurDetails != null)
{
    <h2>Détails du capteur</h2>
    <p><strong>Nom :</strong> @CapteurViewModel.SelectedCatpeurDetails.NomCapteur</p>
    <p><strong>Est actif :</strong> @CapteurViewModel.SelectedCatpeurDetails.EstActif</p>
    <p><strong>X :</strong> @CapteurViewModel.SelectedCatpeurDetails.XCapteur</p>
    <p><strong>Y :</strong> @CapteurViewModel.SelectedCatpeurDetails.YCapteur</p>
    <p><strong>Z :</strong> @CapteurViewModel.SelectedCatpeurDetails.ZCapteur</p>

    <h3>Unitée</h3>
    @if (CapteurViewModel.SelectedCatpeurDetails.Unites?.Count > 0)
    {
        <ul>
            @foreach (var unite in CapteurViewModel.SelectedCatpeurDetails.Unites)
            {
                <li>@unite.NomUnite</li>
                <button class="btn btn-danger" @onclick="() => DeleteUniteCapteur(unite.IdUnite, CapteurViewModel.SelectedCatpeurDetails.IdCapteur)">Supprimer</button>
            }
        </ul>
    }
    else
    {
        <p><em>Aucune unitée</em></p>
    }

    <h3>Mur</h3>
    @if (CapteurViewModel.SelectedCatpeurDetails.Mur != null)
    {
        <p><strong>Hauteur : </strong><li>@CapteurViewModel.SelectedCatpeurDetails.Mur.Hauteur</li></p>
        <p><strong>Longueur : </strong><li>@CapteurViewModel.SelectedCatpeurDetails.Mur.Longueur</li></p>
        <p><strong>Orientation : </strong><li>@CapteurViewModel.SelectedCatpeurDetails.Mur.Orientation</li></p>
    }
    else
    {
        <p><em>Le capteur n'est pas sur un mur</em></p>
    }

    <h3>Salle</h3>
    @if (CapteurViewModel.SelectedCatpeurDetails.Salle != null)
    {
        <p><strong>Nom salle : </strong><li>@CapteurViewModel.SelectedCatpeurDetails.Salle.NomSalle</li></p>
    }
    else
    {
        <p><em>Le capteur n'a pas de salle</em></p>
    }
}

@if (!string.IsNullOrEmpty(CapteurViewModel.ErrorMessage))
{
    <div class="alert alert-danger">
        @CapteurViewModel.ErrorMessage
    </div>
}

@code {
    private Modal formModal;

    private ConfirmDialog confirmSupprDialog = default!;
    List<ToastMessage> messages = new List<ToastMessage>();
    [Inject] ToastService ToastService { get; set; } = default!;

    private CapteurDTO capteurDeleteInConfirmation;


    protected override async Task OnInitializedAsync()
    {
        await CapteurViewModel.LoadCapteursAsync();
        await CapteurViewModel.LoadMursAsync();
    }

    private async void ClosePopup()
    {
        await formModal?.HideAsync();
    }

    private async void OpenPopup()
    {
        await formModal?.ShowAsync();
    }

    private async Task ViewDetails(int idCapteur)
    {
        await CapteurViewModel.LoadCapteurDetailsAsync(idCapteur);
        StateHasChanged();
    }

    private async Task EditCapteur(Client_SAE_5.DTO.CapteurDTO capteur)
    {
        var temp = await CapteurViewModel.LoadCapteurDetailsWithoutDefAsync(capteur.IdCapteur);
        CapteurViewModel.EditCapteur(temp);
        OpenPopup();
    }

    private async Task AddNewCapteur()
    {
        CapteurViewModel.EditableCapteur = new Client_SAE_5.DTO.CapteurSansNavigationDTO();
        OpenPopup();
    }

    private async Task SaveCapteur()
    {
        if (CapteurViewModel.EditableCapteur.IdCapteur == 0)
        {
            await CapteurViewModel.AddCapteurAsync();
        }
        else
        {
            await CapteurViewModel.UpdateCapteurAsync();
        }
        ClosePopup();
        StateHasChanged();
    }

    private async Task OpenDeleteConfirmation()
    {
        var options = new ConfirmDialogOptions
        {
            YesButtonText = "Supprimer",
            YesButtonColor = ButtonColor.Danger,
            NoButtonText = "Annuler",
            NoButtonColor = ButtonColor.Primary
        };

        var confirmation = await confirmSupprDialog.ShowAsync(
            title: "Confirmer la suppression du capteur",
            message1: "Êtes vous sûr de vouloir supprimer le capteur \"" + capteurDeleteInConfirmation.NomCapteur + "\" de la salle \"" + capteurDeleteInConfirmation.NomSalle + "\" ?",
            confirmDialogOptions: options);

        if (confirmation)
        {
            await DeleteCapteur(capteurDeleteInConfirmation.IdCapteur);
            ToastService.Notify(new ToastMessage(ToastType.Success, $"Le capteur a été supprimé avec succès"));
        }
    }

    private async Task BeginDeleteConfirmation(CapteurDTO capteurToConfirmDeletion)
    {
        capteurDeleteInConfirmation = capteurToConfirmDeletion;
        OpenDeleteConfirmation();
    }

    private async Task DeleteCapteur(int idCapteur)
    {
        await CapteurViewModel.DeleteCapteurAsync(idCapteur);
        StateHasChanged();
    }

    private void CancelEdit()
    {
        ClosePopup();
        CapteurViewModel.AvailableUnites.Clear();
    }

    private async Task AddUniteCapteur(int idCapteur, object idUnite)
    {
        if (idUnite is int idUniteInt || (idUnite is string strValue && int.TryParse(strValue, out idUniteInt)))
        {
            if (idUniteInt > 0)
            {
                await CapteurViewModel.AddUniteCapteurAsync(idCapteur, idUniteInt);
            }
        }
    }

    private async Task DeleteUniteCapteur(int idUnite, int idCapteur)
    {
        await CapteurViewModel.DeleteUniteCapteurAsync(idUnite, idCapteur);
    }
}
