@page "/crud/murs"
@inject NavigationManager NavigationManager
@inject SalleViewModel SalleViewModel
@inject Client_SAE_5.ViewModel.MurViewModel MurViewModel

<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="5000" Placement="ToastsPlacement.TopRight" />

<PageTitle>Gestion des Murs</PageTitle>

<h1>Gestion des Murs</h1>

<button class="btn btn-success" @onclick="() => AddNewMur()">Ajouter un mur</button>
<br />
<br />

@if (MurViewModel.DBData.Murs == null || MurViewModel.DBData.Murs.Count == 0)
{
    <div class="d-flex justify-content-center">
        <Spinner Type="SpinnerType.Border" Size="SpinnerSize.ExtraLarge" />
    </div>
}
else
{
    <Grid @ref="murGrid"
          TItem="MurDTO"
          DataProvider="MursDataProvider"
          AllowFiltering="true"
          AllowPaging="true"
          PageSize="10"
          AllowSorting="true"
          FiltersTranslationProvider="Utils.BlazorBootstrapUtils.Instance.GridFiltersTranslationProvider"
          Class="table table-hover table-bordered"
          Responsive="true"
          AllowSelection="false"
          OnRowClick="ViewDetails"
          AllowRowClick="true"
          PaginationItemsTextFormat="{0} - {1} sur {2} murs"
          ItemsPerPageText="Murs par page"
          EmptyText="Aucun mur trouvé"
          EnumFilterSelectText="Selection">
        <GridColumns>
            <GridColumn TItem="MurDTO" HeaderText="Nom salle" PropertyName="NomSalle" SortKeySelector="item => item.NomSalle">
                @context.NomSalle
            </GridColumn>
            <GridColumn TItem="MurDTO" HeaderText="Orientation" PropertyName="Orientation" SortKeySelector="item => item.Orientation">
                @(string.Format("{0:F2}", context.Orientation))°
            </GridColumn>
            <GridColumn TItem="MurDTO" HeaderText="Direction" PropertyName="Direction" SortKeySelector="item => item.Direction">
                @(context.Direction)
            </GridColumn>
            <GridColumn TItem="MurDTO" HeaderText="Actions" Filterable="false">
                <button class="btn btn-primary" title="Modifier @context.NomSalle" @onclick="() => EditMur(context)" @onclick:stopPropagation>
                    <Icon Name="IconName.PencilFill" />
                </button>
                <button class="btn btn-danger" title="Supprimer @context.NomSalle" @onclick="() => BeginDeleteConfirmation(context)" @onclick:stopPropagation>
                    <Icon Name="IconName.Trash3Fill" />
                </button>
            </GridColumn>
        </GridColumns>
    </Grid>
}

<!-- Modale pour l'édition -->
<Modal @ref="formModal" Size="ModalSize.Large" Title="Renseignement des informations du mur">
    <BodyTemplate>
        @if (!string.IsNullOrEmpty(MurViewModel.ErrorMessage))
        {
            <div class="alert alert-danger">
                @MurViewModel.ErrorMessage
            </div>
        }

        <label>Longueur (cm) :</label>
        <input type="number" @bind="MurViewModel.MurInEdition.Longueur" class="form-control" />

        <label>Hauteur (cm) :</label>
        <input type="number" @bind="MurViewModel.MurInEdition.Hauteur" class="form-control" />

        <label>Orientation (°) :</label>
        <input type="number" @bind="MurViewModel.MurInEdition.Orientation" class="form-control" />

        <label>Salle :</label>
        <select @bind="MurViewModel.MurInEdition.IdSalle" class="form-control">
            @if (MurViewModel.MurInEdition.IdSalle == 0)
            {
                <option selected value="0">--- Sélectionnez une salle ---</option>
            }
            @foreach (var salle in MurViewModel.DBData.Salles)
            {
                <option value="@salle.IdSalle">@salle.NomSalle @salle.NomBatiment @salle.NomType</option>
            }
        </select>

        <label>Direction :</label>
        <select @bind="MurViewModel.MurInEdition.IdDirection" class="form-control">
            @if (MurViewModel.MurInEdition.IdDirection == 0)
            {
                <option selected value="0">--- Sélectionnez une direction ---</option>
            }
            @foreach (var direction in MurViewModel.DBData.Directions)
            {
                <option value="@direction.IdDirection">@direction.LettresDirection</option>
            }
        </select>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="ClosePopup">Annuler</button>
        @if (MurViewModel.MurInEdition.IdMur == 0)
        {
            <button class="btn btn-success" @onclick="SaveMur">Ajouter</button>
        }
        else
        {
            <button class="btn btn-primary" @onclick="SaveMur">Modifier</button>
        }
    </FooterTemplate>
</Modal>

<ConfirmDialog @ref="confirmSupprDialog" />

@code {
    private Modal formModal;
    private Grid<MurDTO> murGrid;

    private ConfirmDialog confirmSupprDialog = default!;
    List<ToastMessage> messages = new List<ToastMessage>();
    [Inject] ToastService ToastService { get; set; } = default!;

    private MurDTO? murDeleteInConfirmation;

    protected override async Task OnInitializedAsync()
    {
        if (MurViewModel.DBData.Murs == null || MurViewModel.DBData.Murs.Count == 0)
        {
            await MurViewModel.LoadMursAsync();
        }

        await MurViewModel.LoadDirectionsAsync();
        await MurViewModel.LoadSallesAsync();
    }

    private async void ClosePopup()
    {
        MurViewModel.ResetError();
        await formModal.HideAsync();
    }

    private async void OpenPopup()
    {
        await formModal.ShowAsync();
    }

    private void ViewDetails(GridRowEventArgs<MurDTO> args)
    {
        Utils.Utils.GoDetail(NavigationManager, "murs", args.Item.IdMur);
        StateHasChanged();
    }

    private async Task EditMur(MurDTO mur)
    {
        await MurViewModel.SetupMurEdition(mur.IdMur);
        OpenPopup();
    }

    private async Task AddNewMur()
    {
        await MurViewModel.SetupNewMur();
        OpenPopup();
    }

    private async Task SaveMur()
    {
        string confirmMessage = "";

        if (MurViewModel.MurInEdition.IdMur == 0)
        {
            await MurViewModel.AddMurAsync();
            confirmMessage = "Ajout du mur avec succès !";
        }
        else
        {
            await MurViewModel.UpdateMurAsync();
            confirmMessage = "Modification du mur avec succès !";
        }

        if (string.IsNullOrEmpty(MurViewModel.ErrorMessage))
        {
            ClosePopup();
            ToastService.Notify(new ToastMessage(ToastType.Success, confirmMessage));
            await RefreshGridAsync(); // Rafraîchir la GRID après une modification
        }
    }

    private async Task BeginDeleteConfirmation(MurDTO mur)
    {
        murDeleteInConfirmation = mur;
        await OpenDeleteConfirmation();
    }

    private async Task DeleteMur(int idMur)
    {
        await MurViewModel.DeleteMurAsync(idMur);
        await RefreshGridAsync(); // Rafraîchir la GRID après une suppression
    }

    private async Task OpenDeleteConfirmation()
    {
        var options = new ConfirmDialogOptions
            {
                YesButtonText = "Supprimer",
                YesButtonColor = ButtonColor.Danger,
                NoButtonText = "Annuler",
                NoButtonColor = ButtonColor.Primary
            };

        if (murDeleteInConfirmation == null)
        {
            throw new ArgumentNullException("Le mur dont on veut récupérer la confirmation de suppression est NULL.");
        }

        var confirmation = await confirmSupprDialog.ShowAsync(
            title: "Confirmer la suppression du mur",
            message1: "Êtes vous sûr de vouloir supprimer le mur \"" + murDeleteInConfirmation.Direction + " orienté " + murDeleteInConfirmation.Orientation + "°\" de la salle \"" + murDeleteInConfirmation.NomSalle + "\" ?",
            confirmDialogOptions: options);

        if (confirmation)
        {
            await DeleteMur(murDeleteInConfirmation.IdMur);
            ToastService.Notify(new ToastMessage(ToastType.Success, $"Le mur a été supprimé avec succès"));
        }
    }

    private async Task RefreshGridAsync()
    {
        if (murGrid != null)
        {
            await murGrid.RefreshDataAsync(); // Rafraîchir la GRID
        }
    }

    private async Task<GridDataProviderResult<MurDTO>> MursDataProvider(GridDataProviderRequest<MurDTO> request)
    {
        // Application des filtres, tri et pagination
        var data = request.ApplyTo(MurViewModel.DBData.Murs);
        return await Task.FromResult(data);
    }
}