@page "/crud/murs"
@inject NavigationManager NavigationManager
@inject SalleViewModel SalleViewModel
@inject Client_SAE_5.ViewModel.MurViewModel MurViewModel

<PageTitle>Gestion des Murs</PageTitle>

<h1>Gestion des Murs</h1>

<button class="btn btn-success" @onclick="() => AddNewMur()">Ajouter un mur</button>
<br />
<br />

@if (MurViewModel.DBData.Murs == null || MurViewModel.DBData.Murs.Count == 0)
{
    <div class="d-flex justify-content-center">
        <Spinner Type="SpinnerType.Border" Size="SpinnerSize.ExtraLarge" />
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nom salle</th>
                <th>Orientation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mur in MurViewModel.DBData.Murs)
            {
                <tr class="selection" @onclick="() => ViewDetails(mur.IdMur)">
                    <td>@mur.NomSalle</td>
                    <td>@string.Concat(string.Format("{0:F2}", mur.Orientation),"° ",mur.Direction)</td>

                    <td>
                        <button class="btn btn-primary" @onclick="() => EditMur(mur)" @onclick:stopPropagation><Icon Name="IconName.PencilFill"></Icon></button>
                        <button class="btn btn-danger" @onclick="() => BeginDeleteConfirmation(mur)" @onclick:stopPropagation><Icon Name="IconName.Trash3Fill"></Icon></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<!-- Modale pour l'édition -->
<Modal @ref="formModal" Size="ModalSize.Large" Title="Renseignement des informations du capteur">
    <BodyTemplate>
        @if (!string.IsNullOrEmpty(MurViewModel.ErrorMessage))
        {
            <div class="alert alert-danger">
                @MurViewModel.ErrorMessage
            </div>
        }

        <label>Longueur (cm) :</label>
        <input type="number" @bind="MurViewModel.MurInEdition.Longueur" class="form-control" />

        <label>Hauteur (cm) :</label>
        <input type="number" @bind="MurViewModel.MurInEdition.Hauteur" class="form-control" />

        <label>Orientation (°) :</label>
        <input type="number" @bind="MurViewModel.MurInEdition.Orientation" class="form-control" />

        <label>Salle :</label>
        <select @bind="MurViewModel.MurInEdition.IdSalle" class="form-control">
            @if (MurViewModel.MurInEdition.IdSalle == 0)
            {
                <option selected value="0">--- Sélectionnez une salle ---</option>
            }
            @foreach (var salle in MurViewModel.DBData.Salles)
            {
                <option value="@salle.IdSalle">@salle.NomSalle @salle.NomBatiment @salle.NomType</option>
            }
        </select>

        <label>Direction :</label>
        <select @bind="MurViewModel.MurInEdition.IdDirection" class="form-control">
            @if (MurViewModel.MurInEdition.IdDirection == 0)
            {
                <option selected value="0">--- Sélectionnez une direction ---</option>
            }
            @foreach (var direction in MurViewModel.DBData.Directions)
            {
                <option value="@direction.IdDirection">@direction.LettresDirection</option>
            }
        </select>
    </BodyTemplate>
    <FooterTemplate>
        <button class="btn btn-secondary" @onclick="ClosePopup">Annuler</button>
        @if (MurViewModel.MurInEdition.IdMur == 0)
        {
            <button class="btn btn-success" @onclick="SaveMur">Ajouter</button>
        }
        else
        {
            <button class="btn btn-primary" @onclick="SaveMur">Modifier</button>
        }
    </FooterTemplate>
</Modal>

<ConfirmDialog @ref="confirmSupprDialog" />

@code {
    private Modal formModal;

    private ConfirmDialog confirmSupprDialog = default!;
    List<ToastMessage> messages = new List<ToastMessage>();
    [Inject] ToastService ToastService { get; set; } = default!;

    private MurDTO? murDeleteInConfirmation;

    protected override async Task OnInitializedAsync()
    {
        if (MurViewModel.DBData.Murs == null || MurViewModel.DBData.Murs.Count == 0)
        {
            await MurViewModel.LoadMursAsync();
        }

        await MurViewModel.LoadDirectionsAsync();
        await MurViewModel.LoadSallesAsync();
    }

    private async void ClosePopup()
    {
        MurViewModel.ResetError();
        await formModal.HideAsync();
    }

    private async void OpenPopup()
    {
        await formModal.ShowAsync();
    }

    private void ViewDetails(int idMur)
    {
        Utils.Utils.GoDetail(NavigationManager, "murs", idMur);
        //await MurViewModel.LoadMurDetailsAsync(idMur);
    }

    private async Task EditMur(MurDTO mur)
    {
        await MurViewModel.SetupMurEdition(mur.IdMur);
        OpenPopup();
    }

    private async Task AddNewMur()
    {
        await MurViewModel.SetupNewMur();
        OpenPopup();
    }

    private async Task SaveMur()
    {
        if (MurViewModel.MurInEdition.IdMur == 0)
        {
            await MurViewModel.AddMurAsync();
        }
        else
        {
            await MurViewModel.UpdateMurAsync();
        }

        if (string.IsNullOrEmpty(MurViewModel.ErrorMessage))
        {
            ClosePopup();
            StateHasChanged();
        }
    }

    private async Task OpenDeleteConfirmation()
    {
        var options = new ConfirmDialogOptions
            {
                YesButtonText = "Supprimer",
                YesButtonColor = ButtonColor.Danger,
                NoButtonText = "Annuler",
                NoButtonColor = ButtonColor.Primary
            };

        if (murDeleteInConfirmation == null)
        {
            throw new ArgumentNullException("Le mur dont on veut récupérer la confirmation de suppression est NULL.");
        }

        var confirmation = await confirmSupprDialog.ShowAsync(
            title: "Confirmer la suppression du mur",
            message1: "Êtes vous sûr de vouloir supprimer le mur \"" + murDeleteInConfirmation.Direction + "orienté " + murDeleteInConfirmation.Orientation + "°\" de la salle \"" + murDeleteInConfirmation.NomSalle + "\" ?",
            confirmDialogOptions: options);

        if (confirmation)
        {
            await DeleteMur(murDeleteInConfirmation.IdMur);
            ToastService.Notify(new ToastMessage(ToastType.Success, $"Le mur a été supprimé avec succès"));
        }
    }

    private async Task BeginDeleteConfirmation(MurDTO murToConfirmDeletion)
    {
        murDeleteInConfirmation = murToConfirmDeletion;
        await OpenDeleteConfirmation();
    }

    private async Task DeleteMur(int idMur)
    {
        await MurViewModel.DeleteMurAsync(idMur);
        StateHasChanged();
    }
}
